{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{%static 'calendario/css/home_css.css' %}"> 
  
  <title>Calendário</title>

</head>
<body>

  <header>
      <h1>Meu Calendário</h1>
      <!-- Adicione elementos de navegação aqui, se necessário -->
  </header>

  <main>
      <section id="eventos">
          <h2>Eventos</h2>
          <!-- Lista de eventos -->
          <ul>
              <li>Evento 1 - Data</li>
              <li>Evento 2 - Data</li>
              <!-- Adicione mais eventos conforme necessário -->
          </ul>
      </section>

      <section id="datas-importantes">
          <h2>Datas Importantes</h2>
          <!-- Lista de datas importantes -->
          <ul>
              <li>Data Importante 1 - Data</li>
              <li>Data Importante 2 - Data</li>
              <!-- Adicione mais datas importantes conforme necessário -->
          </ul>
      </section>

      <section id="marcacoes">
          <h2>Marcações</h2>
          <!-- Lista de marcações -->
          <ul>
              <li>Marcacão 1 - Data</li>
              <li>Marcacão 2 - Data</li>
              <!-- Adicione mais marcações conforme necessário -->
          </ul>
      </section>
  </main>

  <footer>
      <!-- Rodapé, se necessário -->
  </footer>

  <!-- Adicione scripts JavaScript, se necessário -->


</body>
</html>